// Specific CSS for your home-page
#home {
  height: 675px;
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
