<h2 class="title text-center p-3">Observe ce magnifique vélo, et réserve le pour en profiter un max!</h2>
<div>
  <img src="https://bcyclet.com/wp-content/uploads/2019/11/Solace-20-2016-Bcyclet-1.jpg" class="rounded-4 mx-auto d-block shadow" alt="Responsive image">
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <br>
      <br>
      <ul class="text-left align mb-5">
        <ul style="list-style: none;"></ul>
        <li class="my-4 list-unstyled">Brand : Scott White</li>
        <li class="my-4 list-unstyled">Bike category : Road</li>
        <li class="my-4 list-unstyled">Bike size : Adult</li>
        <li class="my-4 list-unstyled">Location : Rue Voltaire 12, 1210 Geneve</li>
      </ul>
    </div>
    <div class="col-sm-4 my-4">
      <br>
      <div class="shadow p-3 mb-5 bg-white rounded-4">
        <h2 class="text-center list-unstyled"><em> Summary </em></h2>
        <li class=" m-2 list-unstyled">Dès ...</li>
        <li class=" m-2 list-unstyled">Au ...</li>
        <li class=" m-2  list-unstyled">Price $...</li>
        <div class="text-center">
          <button class="btn btn-success p-2"> Réserver</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" class="project">
  <%= simple_form_for [@bike, @booking] do |f| %>
    <%#= f.input :name %>
    <%#= f.input :category, collection: Bike.categories.keys %>
    <%#= f.input :size, collection: Bike.sizes.keys %>
    <%#= f.input :price %>
    <%#= f.input :address,input_html: {data: {address_autocomplete_target: "address"},class: "d-none"},
                      wrapper_html: {data: {controller: "address-autocomplete",
                      address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%#= f.input :picture_url %>
    <%#= f.input :description %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
