<div class="search-bar">
  <%= simple_form_for :bike, url: bikes_path, class: "-webkit-box", method: :get do |f|%>
    <%= f.input :address,
                label: false,
                input_html: {data: {address_autocomplete_target: "address"},class: "d-none"},
                wrapper_html: {data: {controller: "address-autocomplete",
                address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.submit "Search", class: "btn btn-dark btn-search" %>
  <% end %>
  </div>
</div>
