<div class="d-flex flex-column pt-4"style="height: calc(100vh - 72px); background-image: <%= asset_path("background.jpg") %>; background-position: center">
  <div>
    <h1 class="text-center" style="color: black; text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
            1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff">Welcome on bikes rental</h1>
    <h2 class="text-center" style="color: black; text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
            1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff">The first bike rental website between individuals !</h2>
  </div>
  <div class="flex-grow-1">
    <div class="d-flex h-100 align-items-center justify-content-center">
      <nav class="navbar navbar-light">
          <%= render "shared/search-form" %>
      </nav>
    </div>
  </div>
</div>
