<div class="card-bike-index-main">
  <h1>All bikes</h1>
  <div class="card-bike-index-cards">
    <% @bikes.each do |bike| %>
      <div class="card-bike-index-card">
        <%= cl_image_tag bike.photo.key %>
        <div class="bike-info">
          <%= link_to bike.name.capitalize(), new_bike_booking_path(bike) %>  <!--bike_path(bike)-->
          <p><%= bike.price %>.-/day</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
